html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

p{
    margin: 0 0 10px 0;
}

#container{
    height: 100%;
    display: flex;
    overflow: hidden;
}

.logo, .links{
  height: 40px;
  margin: 0;
  padding: 12px;
}

.logo{
  background: white;
}

.links{
  background: lightgrey;
}

.sidebar{
  padding: 8px;
  background: grey;
}

.categories, .preferences{
  margin: 4px;
  padding: 12px;
  background: white;
}

.main{
  padding: 12px;
  background: grey;
}

.main > div{
  margin: 4px;
  padding: 12px;
  background: white;
}

.main-content > div{
  margin: 4px;
  padding: 12px;
  background: lightgrey;
}