*,
*:before,
*:after{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

#container{
  margin: 0;
  padding: 0;
}

.app{
  margin: 0 auto;
  padding: 4px;
  background: #999999;
}

.app > div{
  margin: 4px;
  padding: 12px;
  background: #ffffff;
}
